# Byte-compiled files
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# IDE settings
.vscode/
.idea/

# Logs
*.log

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Editors
.vscode/
.idea/

# Compiled binaries
*.exe
*.o
*.class
